Repository aFlyBird0/devstream-fork, changes with the owners that CODEOWNERS names for each.
All owners: @devstream-io/reviewer, @devstream-io/pmc, @daniel-hutao, @IronCore864

CODEOWNERS:

*                  @devstream-io/reviewer

CODEOWNERS         @devstream-io/pmc

/.github/          @daniel-hutao
Makefile           @daniel-hutao
/hack/             @daniel-hutao

*.tf               @IronCore864
/docs/             @IronCore864
CODE_OF_CONDUCT.md @IronCore864
CONTRIBUTING       @IronCore864
README.md          @IronCore864

test3
  .github/workflows/link-pr.yml
  CONTRIBUTING.md
Owners: @daniel-hutao, @devstream-io/reviewer

test3
  .github/workflows/link.yml
  CONTRIBUTING.md
Owners: @daniel-hutao, @devstream-io/reviewer

test3
  .lycheeignore
  CONTRIBUTING.md
  README.md
Owners: @devstream-io/reviewer, @IronCore864

test4
  CONTRIBUTING.md
Owners: @devstream-io/reviewer

test4
  .github/workflows/link-pr.yml
  .github/workflows/link.yml
  CONTRIBUTING.md
Owners: @daniel-hutao, @devstream-io/reviewer

test4
  .github/workflows/link-pr.yml
  .github/workflows/link.yml
  CONTRIBUTING.md
Owners: @daniel-hutao, @devstream-io/reviewer

test4
  CONTRIBUTING.md
Owners: @devstream-io/reviewer

test4
  .lycheeignore
Owners: @devstream-io/reviewer

test4
  CONTRIBUTING.md
Owners: @devstream-io/reviewer

feat: enhance mkdocs build
  .github/workflows/link-pr.yml
  .github/workflows/link.yml
Owners: @daniel-hutao

feat: enhance mkdocs build
  .github/workflows/link-pr.yml
Owners: @daniel-hutao

feat: enhance mkdocs build
  .github/workflows/link-pr.yml
  .github/workflows/link.yml
Owners: @daniel-hutao

feat: enhance mkdocs build
  .github/workflows/link.yml
Owners: @daniel-hutao

feat: enhance mkdocs build
  .github/workflows/link.yml
Owners: @daniel-hutao

feat: enhance mkdocs build
  .github/workflows/link.yml
Owners: @daniel-hutao

feat: enhance mkdocs build
  CONTRIBUTING.md
Owners: @devstream-io/reviewer

feat: enhance mkdocs build
  .github/workflows/link.yml
Owners: @daniel-hutao

feat: enhance mkdocs build
  mkdocs.yml
Owners: @devstream-io/reviewer
