Repository aFlyBird0/devstream-fork, changes with the owners that CODEOWNERS names for each.
All owners: @devstream-io/reviewer, @devstream-io/pmc, @daniel-hutao, @IronCore864

CODEOWNERS:

*                  @devstream-io/reviewer

CODEOWNERS         @devstream-io/pmc

/.github/          @daniel-hutao
Makefile           @daniel-hutao
/hack/             @daniel-hutao

*.tf               @IronCore864
/docs/             @IronCore864
CODE_OF_CONDUCT.md @IronCore864
CONTRIBUTING       @IronCore864
README.md          @IronCore864

feat: mkdoc
  .github/workflows/mkdocs.yaml
  docs/assets/versions.js
  docs/development/mkdocs.md
  docs/development/mkdocs.zh.md
  mkdocs.yml
Owners: @daniel-hutao, @IronCore864, @devstream-io/reviewer

feat: mkdoc
  .github/workflows/mkdocs.yaml
Owners: @daniel-hutao

test: test ci
  docs/best-practices/gitops.md
Owners: @IronCore864

feat: add build MkDocs
  .github/workflows/link.yaml
  .github/workflows/mkdocs.yaml
Owners: @daniel-hutao

fix: fix lycheeverse dir
  .github/workflows/link.yaml
Owners: @daniel-hutao

fix: reduce max concurrency
  .github/workflows/link.yaml
Owners: @daniel-hutao

fix: reduce max concurrency
  .github/workflows/link.yaml
Owners: @daniel-hutao

fix: update lycheeignore
  .lycheeignore
Owners: @devstream-io/reviewer

fix: update lycheeignore
  .lycheeignore
Owners: @devstream-io/reviewer

fix: update lycheeignore
  .github/workflows/link.yaml
Owners: @daniel-hutao

update
  .github/workflows/link.yaml
  .lycheeignore
Owners: @daniel-hutao, @devstream-io/reviewer

update
  .github/workflows/link.yaml
Owners: @daniel-hutao

update
  .lycheeignore
Owners: @devstream-io/reviewer

update
  .lycheeignore
Owners: @devstream-io/reviewer

update
  docs/best-practices/gitops.md
Owners: @IronCore864

update
  .lycheeignore
Owners: @devstream-io/reviewer

update
  .lycheeignore
Owners: @devstream-io/reviewer

update
  mkdocs.yml
Owners: @devstream-io/reviewer

update
  .gitignore
  mkdocs.yml
Owners: @devstream-io/reviewer

update
  .github/workflows/link.yaml
  .lycheeignore
  mkdocs.yml
Owners: @daniel-hutao, @devstream-io/reviewer

update
  .github/workflows/link.yaml
  .github/workflows/links-pr.yaml
Owners: @daniel-hutao

update
  .github/workflows/links-pr.yaml
Owners: @daniel-hutao

update
  .lycheeignore
Owners: @devstream-io/reviewer

update
  .lycheeignore
  mkdocs.yml
Owners: @devstream-io/reviewer

update
  .github/workflows/link.yaml
  .lycheeignore
Owners: @daniel-hutao, @devstream-io/reviewer

update
  .github/workflows/link.yaml
  .github/workflows/links-pr.yaml
  .lycheeignore
  mkdocs.yml
Owners: @daniel-hutao, @devstream-io/reviewer

update
  .github/workflows/link.yaml
  .github/workflows/links-pr.yaml
Owners: @daniel-hutao

update
  .github/workflows/link.yaml
  .github/workflows/links-pr.yaml
  mkdocs.yml
Owners: @daniel-hutao, @devstream-io/reviewer

update
  .github/workflows/link.yaml
  .github/workflows/links-pr.yaml
  README.md
Owners: @daniel-hutao, @IronCore864

update
  .github/workflows/link-pr.yaml
Owners: @daniel-hutao

update
  .github/workflows/link-pr.yaml
Owners: @daniel-hutao

update
  .github/workflows/link-pr.yml
  .github/workflows/link.yml
Owners: @daniel-hutao

update
  .github/workflows/link-pr.yml
Owners: @daniel-hutao

update: simplify output
  .github/workflows/link-pr.yml
Owners: @daniel-hutao

update: simplify output
  .github/workflows/link-pr.yml
Owners: @daniel-hutao

test
  CONTRIBUTING.md
Owners: @devstream-io/reviewer

test
  .lycheeignore
  README_zh.md
  docs/assets/versions.js
  docs/best-practices/gitops.md
  docs/best-practices/gitops.zh.md
  docs/commands/autocomplete.md
  docs/contributing_guide.zh.md
  docs/core-concepts/config.zh.md
  docs/core-concepts/core-concepts.md
  docs/core-concepts/variables.md
  docs/development/architecture.md
  docs/development/architecture.zh.md
  docs/development/creating-a-plugin.zh.md
  docs/development/good-first-issues.md
  docs/development/good-first-issues.zh.md
  docs/development/mkdocs.md
  docs/development/mkdocs.zh.md
  docs/images/repo-scaffolding.png
  docs/plugins/hashicorp-vault.md
  docs/plugins/jenkins.md
  docs/plugins/jenkins.zh.md
  docs/quickstart.md
  docs/quickstart.zh.md
Owners: @devstream-io/reviewer, @IronCore864

test2
  CONTRIBUTING.md
Owners: @devstream-io/reviewer

test2
  .lycheeignore
Owners: @devstream-io/reviewer

test3
  CONTRIBUTING.md
Owners: @devstream-io/reviewer
